body{
    color: #fff;
    text-align: center;
}

div#layout{
    width: 100%;
    text-align: left;
    min-height: 300px;
    margin: 0 auto;
}

header, nav, section{
    border: 1px solid #999;
    margin: 2px;
    padding: 10px;
}

header{
    background-color: rgb(3, 87, 3);
    height: 70px;
}

#MSUlogo{
    max-width: 60px;
    float:right;
}

nav{
    height: 40px;
}

section{
    background-color: rgb(233, 223, 223);
    height: 650px;
}

article{
    width: 90%;
    margin: 20px;
    background-color:rgb(204, 198, 198);
}

#navigation{
    font-size: 20px;
    color: rgb(218, 120, 120);
}

#navigation ul{
    display: inline;
    list-style-type:none;
    padding-left:0px;
}

#navigation ul li{
    display: inline;
    border-left: 1px solid #c0c0c0;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px
}

#navigation ul li:first-child{
    border-left: none;
}

section ul{
    display: inline;
    list-style-type: none;
    color: rgb(14, 9, 9);
    padding: 0px;
}

section ul li{
    display: inline-block;
    vertical-align: top;

}

#Koreaflag{
    width: 450px;
    border-radius: 20%;
}

#art{
    width: 400px;
    height: 300px;
}

form,p,span{
    margin:0;
    padding:0;
}

input{
    font:12px arial;
}

a{
    color:#0000FF;
    text-decoration:none;
}

a:hover{text-decoration: underline;}

#wrapper{
    margin: 0 auto;
    padding-bottom:25px;
    background: #ebf4fb;
    width:700px;
    border:1px solid #ACD8F0;}

#chatbox{
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:580px;
    border:1px solid #ACD8F0;
    overflow: auto;
}

#textbox{
width:395px;
border:1px solid #ACD8F0;
}

#submitbox{
width:60px;
}
#menu{padding: 12.5px 25px 12.5px 25px;}
.welcome{float: left;}



